/* regular css */
body {
  height: 700px;
  background-color: navy;
  background-image: url(stars.jpg);
  margin-left: 25px;
}
h1 {
  font-family: Federation;
  font-size: 70px;
  color: gold;
  animation-name: going-into-warp;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  text-shadow: 3px 3px 3px white;
}
input {
  font-size: 17px;
}
dl {
  font-family: Final Frontier;
  color: white;
  font-size: 25px;
  width: 300px;
}
dt {
  padding: 20px;
  color: #f97768;
  text-shadow: 1px 1px 3px #ffd161;
  font-size: 30px;

}
img {
  height: 200px;
}

/* carousel css */
.the-whole-thing {
  width: 50%;
  height: 350px;
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  margin: auto;
  margin-right: 15em;
  transform: translate(50px, -280px);
}
.carousel {
  width: 50%;
  background: #f97768;
  border-radius: 100%;
  box-shadow: 3px 3px 5px white;
}
.carousel img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: none;
  margin: auto;
}
.carousel-button {
  width: 30px;
  height: 30px;
  align-self: center;
  background: white;
  color: #f97768;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 3px #ffd161;
}
.carousel-button:hover {
  background: #f97768;
  box-shadow: 4px 4px 4px #ffd161;
  color: white;
  transform: scale(1.3);
  transition: .4s;
}

/* animation */
@keyframes going-into-warp {
  0% {color:green}
  10% {color:blue}
  20% {color:white}
  30% {color:yellow}
  40% {color:pink}
  50% {color:red}
  60% {color:black}
  70% {color:purple}
  80% {color:orange}
  90% {color:crimson}
  100% {color:aqua}
}

/* media css */
@media(max-width: 600px) {
  h1 {
    font-size: 60px;
    text-align: center;
  }
  form {
    display: flex;
    justify-content: center;
  }
  input {
    font-size: 15px;
  }
  dl {
    display: block;
    justify-content: center;
  }
  dt {
    display: block;
    justify-content: center;
    font-size: 25px;
  }
  dd {
    display: block;
    justify-content: center;
    font-size: 25px;
  }
  .the-whole-thing {
    margin: 0 auto;
    width: 400px;
    height: 200px;
    transform: translate(0, 10px);
  }
  .submit {
  background-color: white;
  }
}
